<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Core Committee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/CoreCommittee.css">
</head>
<body>
    <header>
        <div class="left-section">
            <img id="logo" src="/images/LOGO.png" alt="Logo">
            <p id="message">
            <pre>
IEEE COMPUTATIONAL INTELLIGENCE SOCIETY
ANURAG UNIVERSITY </pre>
            </p>
        </div>
        <div class="right-section">
            <a href="http://localhost:3000/"><button class="scrollToSectionButton" onclick="scrollToSection">Home</button></a>
            <a href="http://localhost:3000/CoreCommittee"><button class="scrollToSectionButton" onclick="scrollToSection('coreCommittee')">Core Committee</button></a>
            <a href="http://localhost:3000/Members"><button class="scrollToSectionButton" onclick="scrollToSection('about')">Members</button></a>
            <a href="http://localhost:3000/Events"><button class="scrollToSectionButton" onclick="scrollToSection('events')">Events</button></a>
            <a href="http://localhost:3000/StudentCorner"><button class="scrollToSectionButton" onclick="scrollToSection('events')">Student Corner</button></a>
            <a href="http://localhost:3000/Join"><button class="scrollToSectionButton" onclick="scrollToSection('coreCommittee')">Join CIS</button></a>
            <a href="http://localhost:3000/ContactUs"><button class="scrollToSectionButton" onclick="scrollToSection('contactUs')">Contact Us</button></a>
        </div>
    </header>
    <h1>Core Comittee for the year 2023-2024</h1>
    <div><table>
        <tr>
            <th>Name</th>
            <th>Membership ID</th> 
            <th>Designation</th>  
            <th>Email</th>
            <th>Contact Number</th> 
        </tr>
        <tr>
            <td>P Karthik Rao</td>
            <td>99654094</td> 
            <td>Chair</td>
            <td>karthikraopadala@ieee.org</td>
            <td>+91 63042 28571</td>
        </tr>
        <tr>
            <td>Dr. M Trupthi </td> 
            <td>99660596</td>
            <td>Faculty Advisor</td>
            <td>trupthi@ieee.org</td>
            <td>+91 98492 95395</td>
        </tr>
        <tr>
            <td>Balmuri Manipreetham Rao</td>
            <td>99653976</td> 
            <td>Secretary</td>
            <td>manibalmuri@ieee.org</td>
            <td>+91 91542 82828</td>
        </tr>
        <tr>
            <td>T Vrindaa</td> 
            <td>99654256</td>
            <td>Treasurer</td>
            <td>fill this</td>
            <td>+91 94901 28982</td>
        </tr> 
        <tr>
            <td>E Aishwarya</td>
            <td>99654201</td> 
            <td>Vice Chair</td>
            <td>fill this</td>
            <td>+91 81258 98710</td>
        </tr>
        <tr>
            <td>Padakanti Dilip</td> 
            <td>99653941</td>
            <td>Web Master</td>
            <td>dilippadakanti@ieee.org</td>
            <td>+91 87904 69775</td>
        </tr>
        <tr>
            <td>S Anuragh</td> 
            <td>99654297</td>
            <td>Public Relations Lead</td>
            <td>fill this</td>
            <td>+91 93913 43208</td>
        </tr>                                                                               
    </table></div>
    <pre>









            
    </pre>
       
    <section class="footer">
        <div class="footer-row">
            <div class="footer-col">
                <h4>About us</h4>
                <p>Welcome to IEEE AU Official Website</p>
                <p>ieeecisau@anurag.edu.in</p>
            </div>
            <div class="footer-col">
                <h4>Social handles</h4>
                <ul class="links">
                    <li>
                        <a href="https://www.linkedin.com/in/ieee-cis-student-chapter-ai-dept-anurag-university-12a468295?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                            target="_blank">Linkedin</a>
                        <span class="social-icons">
                            <a class="linkedin"
                                href="https://www.linkedin.com/in/ieee-cis-student-chapter-ai-dept-anurag-university-12a468295?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://instagram.com/ieee.cis.au?igshid=OGQ5ZDc2ODk2ZA=="
                            target="_blank">Instagram</a>
                        <span class="social-icons">
                            <a class="instagram" href="https://instagram.com/ieee.cis.au?igshid=OGQ5ZDc2ODk2ZA=="
                                target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </span>
                    </li>
                    <li>
                        <a href="#">Youtube</a>
                        <span class="social-icons">
                            <a class="youtube" href="#" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Newsletter</h4>
                <p>
                    Subscribe to our newsletter for
                    updates, helpful tips, and
                    exclusive offers.....
                </p>
                <form action="#">
                    <input type="text" placeholder="Enter your email address" required>
                    <button type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </section>

</body>
</html>